@font-face {
    font-family: 'AristotelicaProExpLight';
    src: url(./Aristotelica_Pro_Text_Extralight.otf);
}

@font-face {
    font-family: 'AristotelicaProDemiBold';
    src: url(./AristotelicaIcons-DemiBold.otf);
}