@font-face {
    font-family: 'OswaldBold';
    src: url(./Oswald-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'OswaldRegular';
    src: url(./Oswald-Regular.ttf);
    font-display: swap;
}